<footer
  class="footer-landing text-center py-4"
  style="background-color: #f0efec"
>
  <div class="d-flex flex-column align-items-center">
    <p class="mb-3 text-black fw-600" style="font-size: 1.5rem">
      follow me on social media for updates and upcoming events
    </p>
    <div class="d-flex justify-content-center gap-3">
      <a
        href="https://www.facebook.com/profile.php?id=61587827912171"
        target="_blank"
        aria-label="Facebook"
      >
        <img
          src="../../assets/social/Facebook.png"
          alt="Facebook"
          class="social-icon"
          style="width: 70px; height: 100px"
        />
      </a>
      <a
        href="https://www.instagram.com/bethechang_/"
        target="_blank"
        aria-label="Instagram"
      >
        <img
          src="../../assets/social/Instagram.png"
          alt="Instagram"
          class="social-icon"
          style="width: 70px; height: 100px"
        />
      </a>
      <a
        href="https://www.tiktok.com/@bethechang_"
        target="_blank"
        aria-label="Tik-Tok"
      >
        <img
          src="../../assets/social/TikTok.png"
          alt="Tik-Tok"
          class="social-icon"
          style="width: 70px; height: 100px"
        />
      </a>
    </div>
  </div>
</footer>
